
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
    html, body {
     width: 100%;
     height: 100%;
    }

    body {
         margin: 0;
         padding: 0;
         overflow: hidden; /* Para cobrir toda a página */
         font-family: "Anton", sans-serif;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
            background: var(--background);
    }

     :root {
     --background: #060608;
     --color: #FAFAFA;
    }

    .video-container  {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      // -1 garante que está atrás de tudo
      z-index: -1;
      opacity: 0.6;
      // garante que o video não extrapola a largura
      overflow: hidden;

    }

    .videoBG {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .PL1 {
        position: absolute;
    }

    .musicBG{
        padding-right: 40%;
        padding-bottom: 25%;
        opacity: 0.5;
    }

    .container {
      color: var(--color);
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-left: 6%;
      padding-top: 5%;
}

    .title {
        max-width: max-content;
        text-align: right;
    }

    .JeffOzzy {
      display: grid;
      grid-template-columns: 1fr;
}

.JeffOzzy span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  font-size: 90px;

}

.ilumi {
    position: absolute;
    bottom: 50.9%;
    left: 23%;

}

.JeffOzzy span:nth-child(odd) { --glitch-translate: 8px; }
.JeffOzzy span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

ul {
  position: relative;
  display: flex;
}

li {
  list-style: none;
}

label {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}

li div {
  position: relative;
  height: 65px;
  width: 65px;
  background: #18191f;
  color: #555;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* div:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
} */

input[type="checkbox"]:checked ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


    /* Para telas maiores, iguais ou menores a 2380x1080 (pc) */
@media screen and (min-width: 2380px) {
    .container {
        padding-left: 8%;
        padding-top: 10%;
        padding-bottom: 44%;
    }
    .ilumi {

        padding-left:7%;
        padding-bottom: 0.8%;
    }
    .musicBG {
        padding-right: 30%;
        padding-bottom: 28%;

    }

    .title {
        font-size: 2rem;
        padding-bottom: 40%;

    }

    .JeffOzzy span {
        font-size: 5rem;

    }
}
        /* Para telas maiores ou iguais a 1920x1080 (PC) */
@media screen and (max-width: 1920px){
    .container {
        padding-left: 10%;
        padding-top: 10%;
    }

    .musicBG {
        padding-right: 29%;
        padding-bottom: 30%;
    }

    .title {
        font-size: 2rem;
    }

    .JeffOzzy span {
        font-size: 5rem;
    }
}
     /* Para telas maiores ou iguais a 768x1024 (tablet) */
@media screen and (max-width: 768px) {
    .container {
        padding-left: 8%;
        padding-top: 10%;
    }

    .musicBG {
        padding-right: 1%;
        padding-bottom: 100%;
    }
    .PL1 {
         width:200px;
        height:120px;
    }

    .title {
        font-size: 1.8rem;
    }

    .JeffOzzy span {
        font-size: 4rem;
    }
}
        /* Para telas menores que 450px (celular) */
@media screen and (max-width: 450px) {
    body{
        display: block;
    }

    .videoBG {

    }
    .container {
        padding-left: 5%;
        padding-top: 6%;
        height: auto;
    }

    .musicBG {
        padding-top: 20%;

    }

    .PL1 {
       padding: 0;
    }

    .title {
        font-size: 1.5rem;
    }

    .JeffOzzy span {
        font-size: 3rem;
    }
}
